<div class="card text-black  mb-3" >
    <div class="card-header">Productos</div>
        <div class="card-body">
         <h5 class="card-title">Listado De Productos</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" 
            [routerLink] = "['/productos/form']">Ingresar Producto</button>
        </div>
        <div *ngIf="producto?.length==0" class="alert alert-info" >
            No Hay Registros en la base de Datos!!!
        </div>

        <table class="table table-bordered table-striped mb-12" *ngIf="producto?.length>0">
            <thead>
               <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DIRECTOR</th>
                <th>PROTAGONISTA</th>
                <th>PRODUCTORA</th> 
                <th>AÑO</th>
                <th>TECNOLOGIA</th>
                <th>PRECIO ALQUILER</th>
                <th>PRECIO VENTA</th>
                <th>ESTADO</th>
                <th>STOCK</th>
                <th></th>
               
               </tr>
           </thead>
           <tbody>
               <tr *ngFor="let producto of producto">
                   <td>{{producto.id}}</td>
                   <td>{{producto.nombre}}</td>
                   <td>{{producto.director}}</td>
                   <td>{{producto.protagonista}}</td>
                   <td>{{producto.productora}}</td>
                   <td>{{producto.ano}}</td>
                   <td>{{producto.tecnologia}}</td>
                   <td>{{producto.precioAlquiler}}</td>
                   <td>{{producto.precioVenta}}</td>
                   <td>{{producto.estado}}</td>
                   <td>{{producto.stock}}</td>
                   <td>
                       <button type="button" name="editar" [routerLink]="['/productos/form', producto.id]"
                       class="btn btn-primary">Editar</button>
                   </td>
               </tr>
           </tbody>
        </table>
    </div>
</div>  
